body {
    background-color: #f2f2f2;
}
.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}


h1 {
    background-color: #ff9100f8; 
    color: white; 
    padding: 5px 10px; 
    border-radius: 5px; 
}
.card:hover {
    transform: scale(1.05);
}
.card-body {
    text-align: center;
}

.menu-list {
    max-height: 0;
    overflow-y: auto;
    transition: max-height 0.3s ease-in-out;
}
.item-description {
    display: none;
    font-size: 14px;
    margin-top: 10px;
    color: #666;
}

p {
    background-color: #ff910062;
    border-radius: 10px; 
}

